<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>  
    <!--配置environment环境-->
    <environments default="development">  
        <!-- 环境配置,每个SqlSessionFactory对应一个环境 -->  
        <environment id="development">             
            <transactionManager type="JDBC" />          
            <dataSource type="POOLED">  
                <property name="driver" value="com.mysql.jdbc.Driver" />  
                <property name="url" value="jdbc:mysql://localhost:3306/sdn" />  
                <property name="username" value="root" />  
                <property name="password" value="1111" />                 
            </dataSource>  
        </environment> 
     </environments>        
    <!-- 映射文件，mapper的配置文件 -->  
    <mappers>
		<!--直接映射到相应的mapper文件-->
		<!-- <mapper resource="com/xhm/mapper/UserMapper.xml"/> -->
		<!--扫描包路径下所有xxMapper.xml文件-->
		<package name="main.java.com.tanklab.mybatis.mapper"/>
    </mappers>    
</configuration>  